<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <hr/>
        <a href="http://localhost/biblioteca/livro/">Listar livros</a>
        |
        <a href="http://localhost/biblioteca/livro/novo">Novo livro</a>
        |
        <a href="http://localhost/biblioteca/usuario/">Listar usuário</a>
        |
        <a href="http://localhost/biblioteca/usuario/novo">Novo Usuario</a>
        |
        <a href="http://localhost/biblioteca/usuario/logoff/">Logoff</a>
        <hr/>
