<h2>Novo usuário</h2>
<form action="" method="post">
    <label for="nome">Nome</label>
    <br/>
    <input type="text" name="nome" />
    <br/>
    
    <label for="login">Login</label>
    <br/>
    <input type="text" name="login" />
    <br/>
    
    <label for="senha">Senha</label>
    <br/>
    <input type="password" name="senha" />
    <br/>
    
    <label for="email">Email</label>
    <br/>
    <input type="text" name="email" />
    <br/>
    
    <label for="privilegio">Privilégio</label>
    <br/>
    <select name="privilegio">
        <option value="Administrador">Administrador</option>
        <option value="Normal">Normal</option>
    </select>
    <br/>
    <input type="submit" value="Cadastrar" />
</form>
